@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #090b1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 50px 20px;
    background-color: #1b1938;
    color: white;
    border-radius: 10px;
    text-align: left;
}

.image{
    background: url(images/image-header-desktop.jpg) no-repeat center/cover;
    height: 400px;
    min-width: 50%;
    border-radius: 0 10px 10px 0px;
}

.image .overlay{
    background-color: #aa5cdb60;
    height: 400px;
    border-radius: 0 10px 10px 0px
}

.content h1{
    margin: 30px 0 20px;
    padding: 0 20px;
    line-height: 1.5;
}

.content strong{
    color: #aa5cdb;
}

.content p{
    padding: 0 20px;
    margin-bottom: 30px;
    color: #ffffff99;
}

.content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content ul li{
    font-family: 'Lexend Deca', sans-serif;
    list-style: none;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content small{
    color: #ffffff99;
    font-family: 'Lexend Deca', sans-serif;
    display: block;
    text-transform: lowercase;
    font-weight: 700;
}

footer{
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer a:hover{
    color: #aa5cdb;
    text-decoration: underline;
    font-size: 20px;
}

@media (max-width: 800px){

    img{
        max-width: 100%;
    }

    section{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .image{
        background-color: url(images/image-header-mobile.jpg) no-repeat center/cover;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .image .overlay{
        background-color: #aa5cdb60;
        border-radius: 10px 10px 0 0; 
    }

    .content ul{
        flex-direction: column;
    }
}